body {
  font-family: Arial, sans-serif;
  background-color: #a1abb6;
  text-align: center;
  padding: 20px;
}
h1 {
  font-size: 40px;
}

input, button {
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

button {
  background-color: #3498db;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #a1abb6;
}

#albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.albumi {
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 220px;
}

.albumi ul {
  text-align: left;
  padding-left: 20px;
}
.albumi img {
  margin-top: 20px;
}